__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.Python
*.log


pip-log.txt
pip-delete-this-directory.txt


*.sqlite3
db.sqlite3
*.pyc
media/
staticfiles/
local_settings.py
instance/
.settings/

.env
.env.*

.vscode/

**/migrations/*.py
**/migrations/*.pyc
!*/migrations/__init__.py

*.pgsql
*.dump


.coverage
coverage.xml
htmlcov/
pytest_cache/

.pytest_cache/

.idea/
.DS_Store
Thumbs.db
